{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
           <div class="alert alert-danger text-center" role="alert">
              {{ message }}
           </div>
        {% endif %}
    {% endfor %}
{% endif %}
        
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
           <div class="alert alert-success text-center" role="alert">
              {{ message }}
           </div>
        {% endif %}
    {% endfor %}
{% endif %}